# ClickHouse Connection Details
CLICKHOUSE_HOST=clickhouse
CLICKHOUSE_PORT=9000
CLICKHOUSE_USER=streamguard_user
CLICKHOUSE_PASSWORD=streamguard_password
CLICKHOUSE_DATABASE=streamguard

# Configuration for services used by the app
VECTOR_URL=http://vector:8080
CAMERA_LOGS_PATH=camera_logs.json